.caption {
    font-size: 10pt;
    font-style: italic;
}

button[type="submit"] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.facts .count-box span {
   display: inline;
}

.p-quote {
    display: block;
    padding-left: 20px;
}

.p-quote:before {
    content: "\edd5";
    font-family: 'boxicons'!important;
}

.p-quote::after {
    content: "\edd6";
    font-family: 'boxicons'!important;
}